@page
@model CreativeCookies.VideoHosting.API.Pages.StatusCodeModel


<div style="margin-inline:0 auto;">
    <a href=@Model.ClientUrl class="nav-link text-dark" style="text-decoration:underline;">Head back to @Model.WebsiteName</a>
    <a href="~/Identity/Account/Manage" class="nav-link text-dark" style="text-decoration:underline;">Manage your account's data</a> <br />
</div>
