@page
@model ConfirmEmailChangeModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["ConfirmEmailChange"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
