@page
@model CreativeCookies.VideoHosting.API.Areas.Identity.Pages.Account.EmailWasNotSentDueToErrorModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<p>@Localizer["EmailWasNotSentDueToErrorTxt1"].</p>
<p>@Localizer["EmailWasNotSentDueToErrorTxt2"] <a href="~/Identity/Account/ResendEmailConfirmation">@Localizer["EmailWasNotSentDueToErrorTxt3"]</a>.</p>