@page
@model CreativeCookies.VideoHosting.API.Areas.Identity.Pages.Account.EmailWasNotSentDueToErrorModel
@{
}
<p>Email to confirm your account has not been sent due to unexpected error.</p>
<p>Try to resend this email by <a href="~/Identity/Account/ResendEmailConfirmation">clicking here</a>.</p>