@page
@model ForgotPasswordConfirmation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<h1>@Localizer["ForgotPasswordConfirmation"]</h1>
<p>
    @Localizer["ForgotPasswordConfirmationTxt"].
</p>
