@page
@model ForgotPasswordConfirmation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<h1>@Localizer["ForgotPasswordConfirmaiton"]</h1>
<p>
    @Localizer["ForgotPasswordConfirmaitonTxt"].
</p>
