@page
@model LoginWithRecoveryCodeModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["RecoveryCodeVerification"]</h1>
<hr />
<p>
    @Localizer["RecoveryCodeVerificationTxt"]
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="RecoveryCode" />
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger">@Localizer["RecoveryCode"]</span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Login"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}