@page
@model ResetPasswordConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<h1>@Localizer["ResetPasswordConfirmation"]</h1>
<p>
    @Localizer["ResetPasswordConfirmationTxt"]. <a asp-page="./Login">@Localizer["LoginHere"]</a>.
</p>
