@page
@model CreativeCookies.VideoHosting.API.Areas.Identity.Pages.Account.StripeOnboardingModel
@{
}
<style>
    .container {
        width: 75%; /* You can adjust this to fit your needs */
        margin: auto;
        text-align: center;
    }

    .space {
        margin-top: 15%; /* Adjust this to get the desired space */
    }
</style>

<div class="container">
    <h4 >You're just one step away from monetising your premium videos:</h4>
    <form method="post" class="space">
        <button class="btn btn-outline-primary" type="submit">Connect Stripe</button>
    </form>
</div>
