@page
@model Disable2faModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@Localizer["Disable2FA"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        @Localizer["Disable2FATxt1"] <a asp-page="./ResetAuthenticator">@Localizer["Disable2FATxt2"].</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@Localizer["Disable2FABtn"]</button>
    </form>
</div>
