@page
@model DownloadPersonalDataModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@Localizer["DownloadPersonalDataTitle"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
