@page
@model ShowRecoveryCodesModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@Localizer["RecoveryCodes"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Localizer["PutTheseCodesInASafePlace"].</strong>
    </p>
    <p>
        @Localizer["Generate2FARecoveryCodesTxt1"].
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row ++)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><br />
        }
    </div>
</div>
