@model CreativeCookies.VideoHosting.API.Templates.EmailTemplateViewModel

<p style="font-size:18px; font-family: 'Comic Sans MS'; font-weight:600;">Hello, @Model.RecipientName,</p>

<p style="font-size:16px; font-family: 'Comic Sans MS'; font-weight:500;">@Model.Introduction</p>

<p style="font-size:16px; font-family: 'Comic Sans MS'; font-weight:500;">@Model.Message</p>

<p style="font-size:16px; font-family: 'Comic Sans MS'; font-weight:500;">Best regards,</p>

<p style="font-size:16px; font-family: 'Comic Sans MS'; font-weight:500;">@Model.WebsiteName Team</p>